@media all and (min-width: 992px) {

    header{
        padding-block: 2%;
        a{
            font-size: xx-large;
        }
    }

    #image{
        height: 170%;
    }

    #menu{
        margin-inline: 370px;
        margin-bottom: 70px;
        border-radius: 20px;
    }
    .logo{
        justify-content: center;
    }

    }
    
    @media all and (min-width: 768px) {
    

    
    }